<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
        <div class="product-list">
            <% for (let product of prods) { %>
            <article class="product-card">
                <header>
                    <h2 class="product-title"><%= product.title %></h2>
                </header>

                <div class="product-image">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                </div>

                <div class="product-desc">
                    <p><%= product.description %></p>
                </div>

                <div class="product-price">
                    <p><strong>Price:</strong> $<%= parseFloat(product.price).toFixed(2) %></p>
                </div>

                <div class="product-actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
    </main>

    <%- include('includes/end.ejs') %>
</body>

</html>